.headers__wrapper {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  width: 100%;
  height: 108px;
  align-items: center;
}

.header__img {
  width: 156px;
  height: 66px;
}

.headerBtn__catalog {
  margin: 0px 15px 0px 38px;
}

.headerBtn__price {
  margin: 0 50px;
}
.header__btn {
  margin-left: 28px;
  width: 60px;
  height: 30px;
  background: #e5e5e5;
}
