@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Roboto:wght@400;700&display=swap");

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.wrapper {
  max-width: 1920px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
}

.container {
  padding: 0 15px;
  max-width: 1400px;
  margin: 0px auto;
}
.content {
  flex: 1 1 auto;
}
.content__row {
  display: flex;
}
button {
  width: 192px;
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  gap: 12px;
  background: #ffc85e;
  border-radius: 79px;
  color: #ffffff;
}
input {
  width: 263px;
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px 13px 20px;
  gap: 10px;
  background: #ededed;
  border-radius: 36px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10.5px;
  max-width: 1100px;
}
.title__filter {
  font-weight: 500;
  font-size: 16px;
  color: #111111;
}
.options {
  width: 240px;
}
